<h1>EasyWeb</h1>
<h3>Default Category Layout</h3>
<p>List pages of AllCategory</p>

<ul>
{{#each (lookupCategory AllCategory 'tin-tuc') }}
   <li><a href="/{{ this.path }}">{{ this.title }}</a></li>
{{/each}}
</ul>

<h3>Pagination </h3>
<p>List pages belong of: {{pagination.files.length}}</p>
<ul>
{{#each pagination.files}}
	<li><a href="/{{ this.path }}">{{ this.title }}</a></li>
{{/each}}
</ul>

<h3>List pages of News</h3>

{{#with (lookupCategory AllCategory 'default.news') }}
   <ul>
   {{#each this.files}}
   <li><a href="/{{ this.path }}">{{ this.title }}</a></li>
   {{/each}}
   </ul>
{{/with}}

<h3>List pages of Global News</h3>

{{#with (lookupCategory AllCategory 'default.news.global-news') }}
   <ul>
   {{#each this.files}}
   <li><a href="/{{ this.path }}">{{ this.title }}</a></li>
   {{/each}}
   </ul>
{{/with}}


